.git/
.nfs*
*.dll
*.swp
.paas-unit-*
core.*
.breakpoints
.idea/
.vscode/
node_modules/
.pnpm-store/
dist/
env/
venv/
vendor/
cython_debug/
*.log
*.tmp
*.bak
*.old
*.pid
*.seed
*.pid.lock
.env
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.tsbuildinfo
**/__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.env
*.exe
*.out
*.test
*.sqlite
*.db
*.sql
*.sql-journal
